html {
  --brand-green: #076448;
  --dark-green: #099268;
  --medium-green: #20c997;
  --text-color: #212529;
  --gray: #868e96;
  --light-gray: #f1f3f5;
  --extra-light-gray: #f8f9fa;
  --white: #fff;
  --red: hsl(342, 63%, 46%);

  box-sizing: border-box;
  color: var(--text-color);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 1.4;
  letter-spacing: 0.01em;
  background-color: var(--extra-light-gray);
}
.fonts-failed body{
  font-family: Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4 {
  font-family: Kurale, serif;
  letter-spacing: 0.03em;
}
.fonts-failed h1,
.fonts-failed h2,
.fonts-failed h3,
.fonts-failed h4{
  font-family: Georgia, serif;
}
a {
  color: var(--medium-green);
}
a:visited {
  color: var(--brand-green);
}
a:hover {
  color: var(--brand-green);
}
a:active {
  color: var(--red);
}

.nav-container {
  background-color: var(--medium-green);
}
.nav-container__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0.625em 0;// =10px/16px
}

.home-link {
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: Kurale, serif;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.fonts-failed .home-link{
  font-family: Georgia, serif;
}

.top-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.top-nav>li+li{
  margin-left: 0.625em;// =10px/16px
}
.top-nav a {
  display: block;
  font-size: 0.8rem;
  padding: 0.3rem 1.25rem;
  color: var(--white);
  background: var(--brand-green);
  text-decoration: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.top-nav a:hover {
  background-color: var(--dark-green);
}
.top-nav__featured > a {
  color: var(--brand-green);
  background-color: var(--white);
}
.top-nav__featured > a:hover {
  color: var(--medium-green);
  background-color: var(--white);
}
.hero{
  background: url(../img/collaboration.jpg);
  background-size: cover;
  margin-bottom: 2.5em;// 40/16=2.5em
}
.hero__inner{
  max-width: 1080px;
  margin: 0 auto;
  padding: 5.56em 12.5em 12.5em 0;
  text-align: right;
}
.hero h2{
  font-size: 1.95rem;
  margin-top: 0;
  margin-bottom: 0.626rem;
  letter-spacing: -0.02em;
}
.button{
  display: inline-block;
  padding: 0.4em 1em;
  color: var(--brand-green);
  border: 2px solid var(--brand-green);
  border-radius: 0.2em;
  text-decoration: none;
  font-size: 0.8em;
}
.button:hover{
  background-color: var(--dark-green);
  color: var(--white);
}
.button--cta{
  padding: 0.6em 1em;
  background-color: var(--brand-green);
  color: var(--white);
  border: none;
}
.container{
  margin: 0 auto;
  max-width: 1080px;
}
.tile-row{
  display: flex;
}
.tile-row > *{
  flex: 1;
}
.tile-row>*+*{
  margin-left: 1.5625em;// =25/16
}
.tile>h4{
  margin-top: 0;
  margin-bottom: 1.5em;
}
.tile{
  background-color: var(--white);
  border-radius: 0.3em;
  padding: 1.5625em;
}
.tag-list{
  list-style: none;
  padding-left: 0;
}
.tag-list>li{
  line-height: 2.6;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.2rem; 
  white-space: nowrap;
  display: inline;
  background-color: var(--light-gray);
}
.page-footer{
  margin-top: 3em;
  padding: 1em 0;
  background-color: var(--light-gray);
  color: var(--gray);
}
.page-footer__inner{
  margin: 0 auto;
  max-width: 1080px;
  text-align: center;
  font-size: 0.8rem;
}
